/* PSEUDO CLASSES

:active -> quando o elemento esta ativo. ou seja, esta sendo pressionado
:visited -> seleciona o link que foi visitado
:hover -> quando o mouse passa em cima do elemento
:checked -> usado em radio / checkbox / input
:disabled -> elemento desabilitado / button / input
:enable -> elemenro esta habilitado
:focus -> é aplicada quando um elemento recebe foco, o que pode ocorrer quando o usuário seleciona o elemento
:read-only -> seleciona input ou textarea que são apenas leitura
:empty -> elemento que não tem filho

:first-child -> primeiro filho / ex: primeira li de uma ul / primeiro span de uma div
:first-of-type -> primeiro elemento de seu tipo entre os filhos de seu elemento pai
:last-child -> último filho
:last-of-type -> último elemento de seu tipo entre os filhos de seu elemento pai
:not() -> estiliza os elementos, exceto o que esta dentro do ()
:nth-child() -> seleciona o elemento baseado na sua posicao. Ex: :nth-child(3)
:nth-last-child() -> seleciona o elemento baseado na sua posição, contando de trás pra frente.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/* a:active {
    color: red;
} */

/* a:visited {
    color: red;
}  */

/* a:hover {
    color: red;
}  */

p:hover {
    color:blue;
}

a:hover {
    color: red;
} 

/* input:checked {
    width: 100px;
    height: 100px;
} */

/* input:disabled {
    width: 100px;
    height: 100px;
} */

/* input:focus {
    border: 1px solid red;
    outline: none;
} */

input:read-only {
    border: 1px solid blue;
    outline: none;
}

.container {
    height: 100px;
    width: 100px;
    background: red;
}

.container:empty {
    background: blue;
}

/* li:first-child {
    color: red;
} */

/* span:first-of-type{
    color: red;
} */

/* li:last-child {
    color: red;
} */

/* span:last-of-type{
    color: red;
} */

/* .container-2 :not(.excluido) {
    color: red;
} */

/* li:nth-child(3) {
    color: red;
} */

li:nth-last-child(3) {
    color: red;
}